body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#currentPage {
    background-color: rgb(255, 140, 102);
}

nav {
    overflow: hidden;
    background-color: black;
}

.imgLink {
    float: right; 
    padding: 19px;
}

nav a {
    float: left;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: gray;
}



#expand{
    display: none;
    user-select: none;
}


@media screen and (max-width: 600px) {

    nav:not(.expanded) a:nth-child(n+2) {
        display: none;
    }

    #expand:not(.expanded) {
        display: block;
        float: right;
    }

    #expand {
        position: absolute;
        right: 0;
        top: 0;
    }

    .expanded {
        position: relative;
    }

    .expanded a{
        float: none;
        display: block;
        text-align: left;
    }
}

#hero {
    /* width: 100%; */
    margin: 0;
    background-color: aliceblue;
    background-size:cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#features{
    text-align: center;
}

#products{
    text-align: center;
}

#features #pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#features .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 20px 20px;
    position: relative;
}

#features .pro img{
    padding-bottom: 5px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#features h2{
    text-decoration: underline;
}

.shop-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

footer{
    background-color: black;
    color: white;
    margin: auto; 
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    appearance: none;
    outline: 0;
    margin: 5px;
}

.counter span {
    display: block;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    user-select: none;
}

.counter span:hover {
    background-color: lightgray;
}

.card {
    background-color: #E3E7E8;
}

.quantity {
    margin: 5px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card{
     position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: rgb(255, 140, 102);
    height: 100vh;
    z-index: 10;
    transition: 0.5s;
}

.card h1 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card .checkOut div:nth-child(2){
    cursor: pointer;
}

.card .checkOut div:nth-child(2):hover{
    cursor: pointer;
    background-color: gray;
}

.active .card {
    left: calc(100% - 500px);
}

/* .active .container {
    transform: translateX(-200px);
} */

.shopping a{
    color: white;
    cursor: pointer;
}